<nav id="footer">

	<ul id="footMenu" class="lstn couleurPrincipale">

		<li>
			<a href="{{path('app_mentions_legales')}}" class='footLink tdn couleurSecondaire'>Mentions légales</a>
		</li>

		<li>
			<a href="{{path('app_dons')}}" class='footLink tdn couleurSecondaire'>Dons</a>
		</li>

		<li>
			<a href="{{path('app_contact')}}" class='footLink tdn couleurSecondaire'>Contact</a>
		</li>

	</ul>

</nav>