{% extends 'base.html.twig' %}

{% block title %}Adhésion, Dons, Legs{% endblock %}

{% block body %}

<h2>Refuge du Cappa : Comment nous aider...</h2>

<h3>Adhésion - Parrainage - Dons - Legs </h3>

<p>Chers Amis,</p>
<p>En 2022, le CAPPA a fêté ses 20 années d’existence pendant lesquelles, grâce au dévouement de ses bénévoles et familles d’accueil, nous avons pu recueillir et placer plus de 500 chiens et soigner, vacciner, stériliser et identifier plus de 3000 chats Ces sauvetages n’auraient pas pu se faire sans votre soutien car bien que d’ Utilité Publique, (CNDA) le CAPPA ne reçoit aucune subvention.</p>
<p>Afin de continuer à sortir de leur misère, chiens et chats en détresse, à militer pour la stérilisation et l’identification, nous devons faire appel à vous, adhérents, donateurs, car sans votre aide nous ne pourrions offrir une seconde chance à ces laissés-pour-compte.</p>
<p>Merci pour eux !</p>
<p>Martine FOUQUES, Présidente</p>
<p>Vous souhaitez aider notre refuge ? C'est le moment de renouveler votre adhésion. Le Cappa est un refuge agréé par la DDPP de l' Eure.</p>
<p>Les adhésions et les dons que vous nous adressez bénéficient dans leur INTÉGRALITE à nos petits protégés parce que nous ne dépensons pas l'argent des donateurs dans des campagnes marketing, dans les salaires des employés ; en effet, notre refuge fonctionne uniquement grâce au dévouement de BÉNÉVOLES.</p>
<p>Vos dons sont déductibles des impôts (66 % de la somme versée selon le code des impôts en vigueur).</p>
<p><strong>Exemple :</strong> Pour un <strong>don de 100€</strong>, vous déduirez 66€ du montant de vos impôts ; votre dépense ne sera <strong>réellement que de 34€</strong>.</p>

<h4>Adhésion</h4>

{# Insérer Bulletin d'adhésion #}

<p></p>

<h4>Léguer au CAPPA</h4>

<h5>1- Pourquoi léguer au refuge du CAPPA</h5>

<p>Le CAPPA milite chaque jour pour défendre et améliorer la cause animale. Son fonctionnement repose uniquement sur le bénévolat (pas de personnel rémunéré) ; donc les dons bénéficient uniquement aux animaux recueillis pour leurs soins, leur nourriture, et toutes les actions entreprisent pour leur trouver une nouvelle et chaleureuse famille.</p>
<p>Pour continuer ses actions le CAPPA / SPA Pays du Neubourg et Environs a besoin de votre aide. Le legs est un acte de générosité.</p>
<p>Pour qu’après vous, votre soutien soit encore présent, en faisant de la SPA du Pays du Neubourg et des Environs votre légataire, vous agirez ainsi pour les animaux.</p>

<h5>2- Qu'est-ce qu'un leg</h5>

<p>Le legs est une disposition testamentaire qui vous permet de transmettre après votre décès une partie ou la totalité de vos biens.</p>
<p>Ce dernier doit se faire par l’intermédiaire d’un testament écrit indiquant les dispositions et volontés précises pour la transmission de vos biens.</p>
<p>La SPA du Pays du Neubourg est une structure membre de la Confédération Nationale qui rassemble plus de 250 refuges répartis sur la France.</p>
<p>Pour léguer vos biens à notre refuge il est <strong>indispensable de bien faire figurer "SPA PAYS DU NEUBOURG"</strong> pour qu'il n'y ait pas de confusion possible.</p>
<p>Affiliée à la Confédération Nationale, le CAPPA - SPA PAYS DU NEUBOURG , bénéficiera dans l’intégralité de vos biens car reconnue par l’intermédiaire de la Confédération, d’utilité publique elle est exonérée des droits de succession.</p>

<h5>3- Comment faire son testament au bénéfice du CAPPA</h5>

<p>Soit de façon olographe, soit de façoin authentique.</p>

<h6>Le testament olographe</h6>

<p>Il doit être rédigé de votre main, daté et signé, c’est la formule la plus simple et la moins onéreuse, mais qui peut susciter des contestations.</p>
<p>Vous devez faire figurer le maximum de précisions.</p>
<p>Il est également prudent de nous faire connaître ainsi qu’à une personne de confiance l’existence de ce testament sans pour autant en dévoiler la complète teneur.</p>

<h6>Le testament authentique</h6>

<p>Il est rédigé sous votre dictée par un notaire en présence de deux témoins ou d'un deuxième notaire.</p>
<p>A votre décès ni sa forme ni son contenu ne peuvent être contestés.</p>
<p>Un notaire est un professionnel qui saura vous conseiller.</p>

<h5>4- Plusieurs types de legs</h5>

<h6>Le leg universel</h6>

<p>Vous léguez la totalité de vos biens.</p>

<h6>Le leg à titre universel</h6>

<p>Vous léguez une partie de vos biens, exemple la moitié ou un pourcentage de biens.</p>

<h6>Le leg particulier</h6>

<p>Vous léguez un bien précis (titres, maison, argent, terrain…).</p>

<h6>Le leg à charge</h6>

<p>Vous pouvez envisager de confier votre animal au refuge du CAPPA/SPA Pays du Neubourg et environs. L’accueil sera fait et la recherche d’un nouveau foyer, dans les conditions les plus strictes, avec une famille de toute confiance sera effectuée ou l'animal sera gardé à vie au refuge selon votre volonté.</p>

<h5>NE PAS OUBLIER</h5>

<p>Quelle que soit la formule que vous choisissez, <strong>il est impératif de bien noter sur votre testament : CAPPA/SPA Pays du Neubourg 27 EURE - 23, route d' Amfreville - 27110 HECTOMARE</strong>. Vous pouvez également nous faire connaître votre décision de nous faire un legs, afin qu’il nous parvienne selon votre volonté pour l’amélioration de notre refuge et le confort de nos pensionnaires.</p>

{# Insérer une séparation #}

<p>N'hésitez pas à nous contacter au 06 73 99 11 53 pour plus de renseignements.</p>

<p>Merci pour nos petits protégés !</p>

{% endblock %}
