/* Appel des fonts */
/* Appel des fonts */
/* Appel des fonts */

@font-face {
    font-family: 'Titre';
    src: url('../fonts/OleoScript-Regular.woff');
}

@font-face {
    font-family: 'Texte';
    src: url('../fonts/Roboto-Regular.ttf');
}

/* Général */
/* Général */
/* Général */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Texte', sans-serif;
    --cappaCouleurPrincipale: #F3C623;
    --cappaCouleurIntermediaire: #EB8317;
    --cappaCouleurSecondaire: #10375C;
    --cappaBackground: #F4F6FF;
    --cappaTexte: #000000;
    --cappaIcones: #00215E;
}

img,
input {
    width: 100%;
    vertical-align: bottom;
}

body {
    background-color: var(--cappaCouleurPrincipale);
}

header,
main,
footer {
    max-width: 1400px;
    margin: auto;
}

main {
    background-color: var(--cappaBackground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--cappaCouleurSecondaire);
    font-family: 'Titre', serif;
}

li:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    cursor: default;
}

p {
    color: var(--cappaTexte);
    font-family: 'Texte', sans-serif;
}

svg {
    height: 1.75rem;
}

.bigSvg {
    height: 5rem;
}

a {
    text-decoration: none;
    color: var(--cappaTexte);
}

/* Classes fréquentes */
/* Classes fréquentes */
/* Classes fréquentes */

.menu {
    position: relative;
    padding: .5rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.conteneur {
    width: 90%;
    margin: auto;
}

.justifie {
    text-align: justify;
    justify-content: baseline;
}

.indent {
    text-indent: 1rem;
}

.bold {
    font-weight: 700;
}

.paddingTop {
    padding-top: 1rem;
}

.paddingBottom {
    padding-bottom: 1rem;
}

.spaceBottom {
    margin-bottom: 1rem;
}

.spaceTop {
    margin-top: 1rem;
}

.lstn {
    list-style-type: none;
}

.tdn {
    text-decoration: none;
}

.fondCouleurPrincipale {
    background-color: var(--cappaCouleurPrincipale);
}

.fondCouleurIntermediaire {
    background-color: var(--cappaCouleurIntermediaire);
}

.fondCouleurBackground {
    background-color: var(--cappaBackground);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.tac {
    text-align: center;
}

.logoCommercial {
    width: 49%;
}

/* Header */
/* Header */
/* Header */

h1 {
    font-size: 2rem;
    padding: 0 1rem;
}

#headMenuMobile {
    position: relative;
    background-color: var(--cappaCouleurPrincipale);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#homeLink {
    width: 100%;
    margin: auto;
}

.paw {
    padding: 0 .5rem;
}

#menuDropBtn:hover {
    cursor: pointer;
}

#dropMenuMobileContenu {
    position: absolute;
    top: 3rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--cappaCouleurPrincipale);
}

.dropLink {
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 1.25rem;
    color: var(--cappaCouleurSecondaire);
    line-height: 2rem;
}

.dropLink:hover {
    color: var(--cappaIcones);
}

#defenseDeLAnimal>p{
    color: #323335;
    font-family: 'Titre', serif;
    font-size: 1.5rem;
}

#sponsoDesktop {
    display: none;
}

#separationGraphique {
    border-bottom: 1rem solid var(--cappaCouleurPrincipale);
}

#titreH1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuDropBtn {
    padding: .5rem;
}

#headMenuDesktop {
    display: none;
}

#heroDesktop {
    display: none;
}

#partenairesCommerciaux {
    display: flex;

}

#partenairesCommerciaux {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Main */
/* Main */
/* Main */

/* Footer */
/* Footer */
/* Footer */

#footer {
    position: static;
    bottom: 0;
    width: 100%;
}

#footMenu {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footLink {
    padding: .25rem .5rem;
    border-radius: 5px;
    color: var(--cappaCouleurSecondaire);
}

.footLink:hover {
    color: var(--cappaIcones);
}

/* Media Querries */
/* Media Querries */
/* Media Querries */

/* Tablettes */

@media screen and (min-width:576px) {

    /* HEADER*/

    #headMenuMobile {
        height: 6rem;
        padding: 0 1rem;
    }

    h1 {
        font-size: 4rem;
        padding: 0 3rem;
    }
    

    #heroMobile {
        display: none;
    }

    #heroDesktop {
        display: block;
    }

    #defenseDeLAnimal {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #separationGraphique {
        border-bottom: 1.5rem solid var(--cappaCouleurPrincipale);
    }

    #liensDons {
        margin:  1rem .5rem 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* MAIN */


    /* FOOTER */

    #footMenu {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* PC petits écrans */

@media screen and (min-width:768px) {

    h1 {
        font-size: 5rem;
    }

    #headMenuMobile {
        display: none;
    }

    #headMenuDesktop {
        position: relative;
        background-color: var(--cappaCouleurPrincipale);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

/* Ecrans larges */

@media screen and (min-width:1400px) {}