/* Appel des fonts */
/* Appel des fonts */
/* Appel des fonts */

@font-face {
    font-family: 'Titre';
    src: url('../fonts/OleoScript-Regular.woff');
}

@font-face {
    font-family: 'Texte';
    src: url('../fonts/Roboto-Regular.ttf');
}

/* Général */
/* Général */
/* Général */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Texte', sans-serif;
    --cappaCouleurPrincipale: #F3C623;
    --cappaCouleurIntermediaire: #EB8317;
    --cappaCouleurSecondaire: #10375C;
    --cappaBackground: #F4F6FF;
    --cappaTexte: #000000;
    --cappaIcones: #00215E;
}

img,
input {
    width: 100%;
    vertical-align: bottom;
}

body {
    background-color: var(--cappaCouleurPrincipale);
}

header,
main,
footer {
    max-width: 1400px;
    margin: auto;
}

main {
    background-color: var(--cappaBackground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--cappaCouleurSecondaire);
    font-family: 'Titre', serif;
}

li:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    cursor: default;
}

p {
    color: var(--cappaTexte);
    font-family: 'Texte', sans-serif;
}

svg {
    height: 1.75rem;
}

a {
    text-decoration: none;
    color: var(--cappaTexte);
}

/* Classes fréquentes */
/* Classes fréquentes */
/* Classes fréquentes */

.menu {
    position: relative;
    padding: .5rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.conteneur {
    width: 90%;
    margin: auto;
}

.justifie {
    text-align: justify;
    justify-content: baseline;
}

.indent {
    text-indent: 1rem;
}

.bold {
    font-weight: 700;
}
.paddingTop{
    padding-top: 1rem;
}

.paddingBottom{
    padding-bottom: 1rem;
}

.spaceBottom {
    margin-bottom: 1rem;
}

.spaceTop {
    margin-top: 1rem;
}

.lstn {
    list-style-type: none;
}

.tdn {
    text-decoration: none;
}

.fondCouleurPrincipale {
    background-color: var(--cappaCouleurPrincipale);
}

.fondCouleurIntermediaire {
    background-color: var(--cappaCouleurIntermediaire);
}

.fondCouleurBackground {
    background-color: var(--cappaBackground);
}

.miniTitre {
    font-weight: 700;
    color: var(--cappaCouleurSecondaire);
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Header */
/* Header */
/* Header */

h1 {
    font-size: 2rem;
    padding: 0 1rem;
}

#headMenuMobile {
    position: relative;
    background-color: var(--cappaCouleurPrincipale);
    color: var(--cappaCouleurSecondaire);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

#homeLink {
    width: 100%;
    margin: auto;
}

.paw {
    padding: 0 .5rem;
}

#menuDropBtn:hover{
    cursor: pointer;
}

#dropMenuMobileContenu {
    position: absolute;
    top: 3rem;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--cappaCouleurPrincipale);
}

.dropLink {
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 1.25rem;
}

#separationGraphique{
    border-bottom: 1px solid var(--cappaCouleurPrincipale);
}

#titreH1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuDropBtn {
    padding: .5rem;
}

#menuDesktopContenu {
    display: none;
}

#heroDesktop {
    display: none;
}

/* Main */
/* Main */
/* Main */

/* Footer */
/* Footer */
/* Footer */

#footer {
    position: static;
    bottom: 0;
    width: 100%;
}

#footMenu {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footLink {
    padding: .25rem .5rem;
    border-radius: 5px;
}

.footLink:hover {
    color: var(--cappaIcones);
}

/* Media Querries */
/* Media Querries */
/* Media Querries */

/* Tablettes */

@media screen and (min-width:576px) {}

/* PC petits écrans */

@media screen and (min-width:768px) {

    #headMenuMobile {
        display: none;
    }
}

/* Ecrans larges */

@media screen and (min-width:1400px) {}